/*General*/
.dark-title {
    color: white;
}

.dark-background {
    background-color: #121212;
}

/*Card*/
.dark-card-title {
    color: ;
}

.dark-card-background {
    background-color: #14151f;
}

.dark-card-field {
    background: ;
}

.dark-card-text {
    color: ;
}