/*General*/
.light-title {
    color: purple;
}

.light-background {
    background-color: #121212;
}

/*Card*/
.light-card-title {
    color: ;
}

.light-card-background {
    background-color: #14151f;
}

.light-card-field {
    background: ;
}

.light-card-text {
    color: ;
}