/*Scroll Bar*/
@import "scrollBar.css";

/*Modal*/
@import "modal.css";

/*Fonts*/
@font-face {
	font-family: "noodle";
	src: url("../fonts/big_noodle_titling.ttf");
}

@font-face {
	font-family: "sans";
	src: url("../fonts/Meedori_Sans_Regular.ttf");
}

@font-face {
	font-family: "asap";
	src: url("../fonts/Asap-Regular.ttf");
}

:root {
	--title: ;
	--background: ;
	--scrollbar: ;
	--scrollbar-hover: ;
	--card-title: ;
	--card-text: ;
	--card-background: ;
	--card-field: ;
	--card-field-hover: ;
}

* {
	margin: 0;
	font-family: "asap";
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--background);
	display: grid;
	grid-template-columns: minmax(2em, 1fr) 2fr minmax(2em, 1fr);
	color: var(--title);
	/*background-image: url("../assets/background.svg");
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
    background-repeat: no-repeat;*/
	transition: 0.15s ease-in-out;
}

/*Font Sizes*/
h1 {
	font-size: 2.5em;
	padding: 1rem 0;
	color: var(--title);
	transition: 0.15s ease-in-out;
}

h3 {
	color: var(--title);
	transition: 0.15s ease-in-out;
	font-size: 1.5vh;
}

h2 {
	color: var(--title);
	font-size: 3vh;
	color: var(--title);
}

p {
	color: var(--card-text);
	font-size: 1.5vh;
	padding: 0.5rem 0;
	color: var(--title);
}

div {
	color: var(--title);
}

/*Game*/
.game {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 80vh 1fr;
	text-align: center;
	align-items: center;
	justify-items: center;
}

.gameContainer {
	height: 100%;
	width: auto;
	position: relative;
	max-height: 55vw;

}

#canvas {
	height: 100%;
	width: auto;
	max-height: 55vw;
	border-radius: 30px;
}

.container {
	display: grid;
	grid-template-rows: 1fr 80vh 1fr;
	text-align: center;
	align-items: center;
	justify-items: center;
	height: 100vh;
}

.containerFields {
	width: 85%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	justify-items: center;
	row-gap: 2vh;
	justify-content: space-evenly;
}
.containerFields.right {
	grid-template-rows: 1fr;
}

.box {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: var(--card-background);
	border-radius: 30px;
	color: #757575;
}

#lobbySection {
	width: 100%;
}

#lobbySection .box button,
#lobbySection .box input {
	width: 90%;
	height: 3em;
}

.flex {
	display: flex;
	gap: 1em;
	width: 100%;
}

.settingBox {
	width: 100%;
	gap: 1em;
}

.chatBox {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-items: center;
	background-color: var(--card-background);
	border-radius: 30px;
	margin-top: 2vh;
	margin-bottom: 2vh;
	color: #757575;
	height: 45vh;
}

.box h2 {
	margin-top: 0.5em;
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 90%;
}

.miniFields {
	background-color: var(--card-field);
	border-radius: 10px;
	width: 45%;
	height: 60;
}

.miniFields p {
	white-space: nowrap;
}

.themes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	column-gap: 10px;
	overflow: auto;
}

.theme {
	width: 45%;
	height: 2em;
}

#saveSettings {
	height: 2em;
}

.currentLobby {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#startGameButton {
	display:none;
}

button,
a {
	height: 100%;
	max-height: 3em;
	width: 100%;
	padding: 0;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	background: var(--card-field);
	color: var(--card-text);
	font-size: 2vh;
	border-radius: 10px;
	border: none;
	outline: none;
	transition: 0.155s ease;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

button p {
	font-size: 2vh;
}

button:hover,
a:hover {
	background: var(--card-field-hover);
	transform: scale(1.02);
}
/* Button ripple effect */
button:after,
a:after {
	content: "";
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) scale(0);
	position: absolute; /* The absolute position we mentioned earlier */
	border-radius: 50%;
	background-color: #a020f0;
	opacity: 0;
	transition: al15 1s;
}

button:active:after,
a:active:after {
	transform: translateX(-50%) translateY(-50%) scale(15);
	transition: 0s;
	opacity: 0.2;
	height: 0;
	width: 0;
}

input {
	box-sizing: border-box;
	height: 100%;
	max-height: 3em;
	width: 100%;
	text-align: left;
	border: none;


	padding: 0;
	padding-left: 1vh;
	padding-right: 1vh;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 2vh;
	border-radius: 10px;

	appearance: none;
	background: var(--card-field);
	color: var(--card-text);
	transition: 0.3s ease;
}

input::placeholder {
	color: var(--placeholder-font-color);
}

input:hover {
	background: var(--card-field-hover);
}

input:focus::placeholder {
	color: transparent;
	transition: color 0.3s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

#notifications {
	max-height: 20em;
	text-align: center;
	color: var(--title);
}
.notification {
	font-size: 1.5em;
	transition: opacity 0.5s;
}

#countDown {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3em;
}

#winnerText {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5em;
}

.credits {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.credits h3 {
	margin-bottom: 0.5em;
}
.credits div {
	padding: 0.5em;
}

.credit {
	background-color: var(--card-field);
	margin: 0.25em;
	padding: 0.25em;
	text-decoration: none;
	margin-top: 100em;
}


#playersInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70%;
	padding: 1vh;
}

#chat {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: hidden;
}

#chat .fields {
	height: auto;
}

#chat #messageContainer {
	color: white;
	display: flex;
	flex-direction: column;
	padding-bottom: 0.5em;
	height: 95%;
	overflow-x: hidden;
	width: 90%;
	word-wrap: break-word;
}

#messageContainer > :first-child {
	margin-top: auto !important;
}

#messageContainer > * {
	margin-bottom: 0.5em;
}

#sendContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#sendContainer button {
	width: 30%;
	border-left: 1px solid var(--card-text);
	border-radius: 0 0 10px 0;
}

#sendContainer input {
	width: 70%;
	border-radius: 0 0 0 30px;
}

#startGameButton {
    width: 80%;
}

.success {
    color: green!important;
}

.error {
    color: red!important;
}

#logo {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: contain;
	background-image:url("../assets/images/TankzLogo.png");
	background-repeat: no-repeat;
}

#logo:hover {
	background-image:url("../assets/images/TankzLogo.gif");
}